{% extends 'base.html' %}
{% load static %}

{% block contenido %}

  <div class="container text-bg-dark m-3 p-3 mx-auto">
        <div class="d-flex">
          <a href="{% url 'inicio' %}">
            <i class="fa fa-solid fa-chevron-left btn btn-go" style="color: white; margin-right: 2rem;"></i>
          </a>
          <h5>{{detalle.categoria}}</h5>
        </div>
        <div class="text-center">
            <h1 class="fs-30 fw-bold">{{detalle.titulo}}</h1>
        <h4>{{detalle.descripcion}}</h4>
        </div>
        <h6>Fecha de publicacion: {{detalle.creado}}</h6>
        <h6>Autor: {{detalle.autor}}</h6>
        <hr>
        <img class="rounded mx-auto d-block" src="{{detalle.imagen.url}}" alt="Imagen de la noticia" width="400px">
        <p class="mx-auto w-75 pt-3">{{detalle.contenido}}</p>
        <hr>
        <h4>COMENTARIOS</h4>
        <div class="row" class="mb-3">
          {% if user.is_authenticated %}
              <form class="m-1" method="POST" action="{% url 'comentarios:agregar_comentarios' detalle.pk %}">{%csrf_token%}

                <textarea class="col-12" type="text" name="comentario">

                </textarea>
                <input class="btn-go btn" type="submit" name="" value="Guardar">
              </form>
              <hr>
          {% endif %}
          {% for n in lista_comentarios %}
          <div>
            <h4>{{n.usuario}}</h4>
            <p>{{n.texto}}</p>
            <p>{{n.creado}}</p>
          </div>
          <hr>
          {% endfor %}
          </div>
  </div>

{% endblock contenido %}