{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container m-3 text-bg-dark mx-auto">
    <div class="row m-2">
        <h2>{{nom_cat.nombre}}</h2>
        <hr>
    </div>
    <div class="row">
        {% for n in noticia %}
        <div class="card text-bg-dark col-sm-12 col-md-6 col-lg-4 my-3">
            <img src="{{n.imagen.url}}" class="card-img-top" alt="Imagen de la noticia" style="height: 150px; object-fit: contain;">
            <div class="card-body">
              <h5 class="card-title">{{n.titulo}}</h5>
              <p class="card-text">{{n.descripcion}}</p>
              <a href="{% url 'noticias:detalle_noticia' n.pk %}" class="btn btn-go">Leer mas</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock contenido %}