{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container p-3 text-bg-dark m-3 mx-auto">
    <div class="d-lg-flex gap-2 align-items-center">
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14163.203087721158!2d-58.99416278730096!3d-27.444319015623673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450c5f32887753%3A0xf1624bc106f8101f!2sMinisterio%20de%20Trabajo%2C%20Empleo%20y%20Seguridad%20Social!5e0!3m2!1ses!2sar!4v1690121237439!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="text-center">
            <h5 class="text-center my-4 fs-4" style="color: #999;">Más sobre este proyecto</h5>
            <div class="col-12 mb-4" >
                <a href="#" class="mx-3" style="color: #999;"><i class="fa fa-brands fa-facebook icon"></i></a>
                <a href="#" class="mx-3"><i class="fa fa-brands fa-instagram icon"></i></a>
                <a href="#" class="mx-3"><i class="fa fa-brands fa-envelope icon"></i></a>
                <a href="#" class="mx-3"><i class="fa fa-brands fa-linkedin icon"></i></a>
                <a href="#" class="mx-3"><i class="fa fa-brands fa-twitter icon"></i></a>
              </div>
              <h5 class="text-center mt-4 mb-2 fs-4" style="color: #999;">Links de interes</h5>
              <ul class="text-center list-unstyled" style="color: #999;">
                <li><a class="text-light d-block py-2 links-interes" href="#">Proyecto 1</a></li>
                <li><a class="text-light d-block py-2 links-interes" href="#">Proyecto 2</a></li>
                <li><a class="text-light d-block py-2 links-interes" href="#">Proyecto 3</a></li>
                <li><a class="text-light d-block py-2 links-interes" href="#">Proyecto 4</a></li>
              </ul>
        </div>
    </div>
    <div class="row">
        <div class="section mt-3 text-bg-dark col-sm-12 offset-sm-0">
            <h3 class="pt-3">Contáctanos</h3>
            <hr>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingName" placeholder="Nombre">
                <label for="floatingName">Nombre</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingAsunto" placeholder="Asunto">
                <label for="floatingAsunto">Asunto</label>
            </div>

            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Comentario" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Comentario</label>
            </div>
            <button type="submit" class="btn btn-go mx-auto d-block px-3 mb-3">Enviar</button>
        </div>
        
    </div>
</div>
{% endblock contenido %}
