{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="section container mt-3 text-bg-dark">
<h3 class="pt-3">Sobre nosotros</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste suscipit assumenda, labore deserunt doloribus, pariatur nulla incidunt quis impedit qui non! Rem, dolor quam iure sit eius itaque sunt sapiente!</p>
<hr>
<h4>Miembros del equipo</h4>
<div class="d-flex">
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quidem consequuntur distinctio quas voluptatibus ullam nulla vitae nisi repellendus reiciendis quam officiis tenetur itaque delectus maiores, laboriosam doloribus soluta maxime.</p>
</div>
<hr>
<div class="d-flex">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quidem consequuntur distinctio quas voluptatibus ullam nulla vitae nisi repellendus reiciendis quam officiis tenetur itaque delectus maiores, laboriosam doloribus soluta maxime.</p>
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
</div>
<hr>
<div class="d-flex">
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quidem consequuntur distinctio quas voluptatibus ullam nulla vitae nisi repellendus reiciendis quam officiis tenetur itaque delectus maiores, laboriosam doloribus soluta maxime.</p>
</div>
<hr>
<div class="d-flex">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quidem consequuntur distinctio quas voluptatibus ullam nulla vitae nisi repellendus reiciendis quam officiis tenetur itaque delectus maiores, laboriosam doloribus soluta maxime.</p>
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
</div>
<hr>
<div class="d-flex">
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quidem consequuntur distinctio quas voluptatibus ullam nulla vitae nisi repellendus reiciendis quam officiis tenetur itaque delectus maiores, laboriosam doloribus soluta maxime.</p>
</div>
<hr>
<div class="d-flex">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quidem consequuntur distinctio quas voluptatibus ullam nulla vitae nisi repellendus reiciendis quam officiis tenetur itaque delectus maiores, laboriosam doloribus soluta maxime.</p>
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
</div>
<hr>
</div>
{% endblock contenido %}