{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="section container mt-3 text-bg-dark">
<h3 class="pt-3">Sobre nosotros</h3>
<p>Somos estudiantes de la 2da etapa ''Desarrollo Web'' del Informatorio. Conformamos un equipo de desarrollo de 4 integrantes, trabajando en conjunto y de manera remota </p>
<hr>
<h3 class="pt-3">Sobre el proyecto</h3>
<p> Este es un proyecto de tipo 'blog' creado enteramente por el grupo.Y cuenta con las siguientes caracteristicas:</p>
<li>Construido en el framework Django , utilizando Python como lenguaje</li>
<li>Conectado a una base de datos sqlite3 que nos provee Django, para persistir registros de usuarios,fotos,noticias,etc</li>
<li>Para las vistas y lo visual se utilizaron templates, asi como Bootstrap y Css puro para los estilos </li>
<li>Fue desarrollado en el patron de arquitectura 'mvc', en django aplicado como 'mvt' Modelo Vista Template</li>
<hr>
<h4>Miembros del equipo</h4>
<div class="d-flex">
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
    <p> Celeste Martin Rodich </p>
</div>
<hr>
<div class="d-flex">
    <p>Gabriel Vazquez</p>
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
</div>
<hr>
<div class="d-flex">
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
    <p> Leandro Emanuel Gomez </p>
    <a class="nav-link fs-6" aria-current="page" href="https://github.com/LeandroGomezz" style="color: #bbb;"> https://github.com/LeandroGomezz </a>
</div>
<hr>
<div class="d-flex">
    <p>Nicolas Alfredo Guazo</p>
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
</div>
<hr>
</div>
{% endblock contenido %}