{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="section container mt-3 text-bg-dark">
<h3 class="pt-3">Sobre nosotros</h3>
<p>Somos estudiantes de la 2da etapa ''Desarrollo Web'' del Informatorio. Conformamos un equipo de desarrollo de 4 integrantes, trabajando en conjunto y de manera remota. </p>
<hr>
<h3 class="pt-3">Sobre el proyecto</h3>
<p> Este es un proyecto de tipo 'blog' creado enteramente por el grupo, el cual cuenta con las siguientes caracteristicas:</p>
<li>Construido con el framework Django, utilizando Python como lenguaje de programación principal.</li>
<li>Conectado a una base de datos sqlite3, para persistir registros de usuarios, fotos, noticias, etc.</li>
<li>Para la interfaz visual utlizamos el lenguaje de marcado HTML para crear los templates y para agregarle estilos el framework de Boostrap, que utiliza el método de las clases.</li>
<li>Fue desarrollado en el patron de arquitectura 'MVC', en django aplicado como 'MVT', Modelo Vista Template.</li>
<hr>
<h4>Miembros del equipo</h4>
<div class="d-flex justify-content-between">
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
    <div>
        <p> Celeste Martin Rodich </p>
        <a href="#" class="mx-3"><i class="fa fa-brands fa-github icon2"></i></a>
    </div>
</div>
<hr>
<div class="d-flex justify-content-between">
    <div>
        <p>Gabriel Vazquez</p>
        <a href="#" class="mx-3"><i class="fa fa-brands fa-github icon2"></i></a>
    </div>
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
</div>
<hr>
<div class="d-flex justify-content-between">
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
    <div>
        <p>Leandro Emanuel Gomez</p>
        <a href="https://github.com/LeandroGomezz" class="mx-3"><i class="fa fa-brands fa-github icon2"></i></a>
    </div>
</div>
<hr>
<div class="d-flex justify-content-between">
    <div>
        <p>Nicolas Alfredo Guazo</p>
        <a href="#" class="mx-3"><i class="fa fa-brands fa-github icon2"></i></a>
    </div>
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
</div>
<hr>
<div class="d-flex justify-content-between">
    
    <img src="{% static 'img/persona.jpg' %}" alt="" height="100px">
    <div>
        <p>Nicolas Alfredo Guazo</p>
        <a href="#" class="mx-3"><i class="fa fa-brands fa-github icon2"></i></a>
    </div>
</div>
<hr>
</div>
{% endblock contenido %}