{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="section container ">

	<div class="dropdown my-2">
		<button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="fa fa-solid fa-filter"></i>
		</button>
		<ul class="dropdown-menu bg-dark text-light">
			<li><a class="dropdown-item bg-dark text-light" href="{% url 'noticias:categorias' %}">Categorias</a></li>
		  	<li><a class="dropdown-item bg-dark text-light" href="{% url 'ord-fecha-desc' %}">Primeras noticias</a></li>
		  	<li><a class="dropdown-item bg-dark text-light" href="{% url 'ord-tit-asc' %}">Titulos asc</a></li>
          	<li><a class="dropdown-item bg-dark text-light" href="{% url 'ord-tit-desc' %}">Titulos desc</a></li>

		</ul>
	</div>
	<div class="row text-bg-dark p-4">
		<div class="col-12">
			<h4>Ultimas noticias</h4>
			<hr>
		</div>
		{% for n in object_list %}
		<div class="card text-bg-dark col-sm-12 col-md-6 col-lg-4 p-2">
			<img src="{{n.imagen.url}}" class="card-img-top" alt="..." style="height: 150px; object-fit: contain;">
			<div class="card-body">
				<div class="d-flex pb-2">
					{% for cat in n.categoria.all %}
					<div class="btn-categoria-{{cat.pk}}" style="width: 15px; height: 10px;" title="{{cat.nombre}}"></div>
					{% endfor %}
				</div>
				<h5 class="card-title">{{n.titulo}}</h5>
				<p><em>{{n.creado}}</em></p>
				<a href="{% url 'noticias:detalle_noticia' n.pk %}" class="btn btn-go">Leer más</a>
			</div>
		</div>
		{% endfor %}

		<div class="col-12">
			<h4 class="my-3 pt-5">Otras noticias que quizas te interesen...</h>
			<hr>
		</div>
		<div class="d-lg-flex col-12 p-2">

			<div class="col-lg-6 col-md-12 p-1 text-center">

				<div class="text-center">
					<h1 class="fs-30 fw-bold">{{sola.titulo}}</h1>
					<!-- <h4 style="color: #999;">{{sola.descripcion}}</h4> -->
				</div>
				<h6>Fecha de publicacion: <em>{{sola.creado}}</em></h6>
				<h6>Autor: <em>{{sola.autor}}</em></h6>
				<hr>
				<img class="rounded mx-auto d-block pb-4" src="{{sola.imagen.url}}" alt="Imagen de la noticia" style="height: 250px; object-fit: contain;">
				<p style="color: #999;">{{sola.contenido|truncatechars:450}}</p>
				<a href="{% url 'noticias:detalle_noticia' sola.pk %}" class="btn btn-go">Leer más</a>
			</div>
			<div class="p-1">

				{% for n in otras %}
				<div class="text-bg-dark d-flex flex-row align-items-center p-3 border border-dark-subtle m-2 rounded">
					<a href="{% url 'noticias:detalle_noticia' n.pk %}" class="text-decoration-none">
						<div class="card-body">
							<h5 style="color: #bbb;" class="card-title">{{n.titulo}}</h5>
							<div class="d-flex pt-2">
								{% for cat in n.categoria.all %}
								<div class="btn-categoria-{{cat.pk}}" style="width: 15px; height: 10px;" title="{{cat.nombre}}"></div>
								{% endfor %}
							</div>
						</div>
					</a>
				</div>
				{% endfor %}

			</div>

		</div>
		<hr>
	</div>
</div>
<hr>
{% endblock contenido %}